.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card {
  max-width: 250px;
  display:inline-block;
  margin:6px;
}
.like {
  font-size: 1.5rem;
}
